@font-face {
  font-family: "iconfont"; /* Project id 4242113 */
  src: url('iconfont.woff2?t=1694162947580') format('woff2'),
       url('iconfont.woff?t=1694162947580') format('woff'),
       url('iconfont.ttf?t=1694162947580') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_tianjia:before {
  content: "\eb89";
}

.icon-xiangxia:before {
  content: "\e796";
}

.icon-dingxiang:before {
  content: "\e600";
}

.icon-kongqiqingxin:before {
  content: "\e697";
}

.icon-sousuo:before {
  content: "\e623";
}

.icon-tianqi-fengxiang:before {
  content: "\e679";
}

.icon-kongqiwendu:before {
  content: "\eb3a";
}

.icon-kongqizhiliangjiance:before {
  content: "\e632";
}

.icon-shuidibeifen:before {
  content: "\e612";
}

.icon-duoyun:before {
  content: "\e628";
}

.icon-qing:before {
  content: "\e629";
}

.icon-xiaoyu:before {
  content: "\e62a";
}

.icon-dayu:before {
  content: "\e62b";
}

.icon-qingzhuanduoyun:before {
  content: "\e62c";
}

.icon-baoyu:before {
  content: "\e62d";
}

.icon-zhongyu:before {
  content: "\e62e";
}

.icon-yin:before {
  content: "\e62f";
}

.icon-youyun:before {
  content: "\e630";
}

.icon-leizhenyu:before {
  content: "\e631";
}

